body{
    background-color: black;
}

.square{
    width: 30%;
    background-color: salmon;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

h1{
    color: white;
    margin: 0 auto;
}

span{
    color: white;
}